@{
    ViewData["Title"] = "Admin portal";
}

<h1 class="main-font">@ViewData["Title"]</h1>

<div class="row btn-margin">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-heading">Reservations</h2>
                <p class="card-p">Create, edit, delete and view all bookings.</p>
                <a asp-controller="Booking" asp-action="IndexBooking" class="btn btn-primary">View reservations</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-heading">Menu</h2>
                <p class="card-p">Create, edit, delete and view dishes.</p>
                <a asp-controller="Menu" asp-action="IndexMenu" class="btn btn-primary">View menu</a>
            </div>
        </div>
    </div>
</div>

<form asp-controller="Account" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger btn-margin">Logout</button>
</form>
