@model List<PopularMenuItem>
@{
    ViewData["Title"] = "Ommo";
    ViewData["Booking"] = "Reserv table";
    ViewData["Menu"] = "Menu";
    ViewData["Admin"] = "Admin";
}

    <div id="main-flex-container">
        <h1 class="main-font">@ViewData["Title"]</h1>
    <img id="main-flex-img"
         src="~/img/main-page-img.jpg"
         alt="Meat grilling on a portable frying pan on a table." />
    </div>
<div id="main-flex">
    
    <div>
       <h2 class="main-font">A place where Korean food meet Nordic culture</h2>
        <p>
            Modern Scandinavian dishes influenced by Japanese cooking methods and flavours. Complex creations that are easy to enjoy.
            Ommo is a playful and elegant place. Everything we do is permeated by our genuine love of food, drink and people, accompanied by a
            unique, beautiful and welcoming environment. With us, you will enjoy the flavours of pure ingredients, carefully selected based on season,
            quality and climate impact, and peppered with Korean influences. Welcome to an experience beyond the ordinary.
        </p>
    </div>
    
    <div>
        <h2 class="main-font">
            Our most popular dishes</h2>
        <ul class="menu-list">
            @foreach(var popularMenuItem in Model)
            {
                <li>
                    <div class="menu-item">
                        <div>@popularMenuItem.Name</div>
                        <div>$@popularMenuItem.Price</div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="link-container">
        <div class="link-item">
            <a asp-controller="Home" asp-action="Menu" class="btn-main-page link-btn">See our menu</a>
        </div>
        <div class="link-item">
            <a href="#" class="btn-main-page link-btn">Reserv table</a>
        </div>
    </div>
</div>
