@model List<MenuItem>

@{
    ViewData["Title"] = "Menu";
}

<h1 class="main-font">@ViewData["Title"]</h1>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Dish</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var menuItem in Model)
            {   
                if(menuItem.IsAvailable)
                {
                    <tr>
                        <td>@menuItem.Name</td>
                        <td>$@menuItem.Price</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <p>There are no dishes on the menu.</p>
}
